# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.cer

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
*.swp
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.sublime-workspace

# Env
.env
.env.local
.env.*.local

# Cache
*.cache
.cache/
